APP_ENV=development
APP_DEBUG=true
APP_NAME="LifeLine Blood Network"
APP_URL=http://localhost:8000
APP_PATH=

PGHOST=localhost
PGPORT=5432
PGDATABASE=lifeline_db
PGUSER=postgres
PGPASSWORD=your_password_here
